.top-bar {
  grid-area: top-bar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 0 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  height: 70px;
  border-bottom: 1px solid ddd;
  position: relative; /* asegúrate de que esté encima */
  z-index: 10;
}

.menu-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.menu-text {
  font-weight: bold;
  font-size: 18px;
}

.profile-icon i {
  font-size: 24px;
}


