<div class="welcome-container">

<app-sidebar></app-sidebar>
  <!-- Encabezado -->
   <app-topbar></app-topbar>

  <!-- Lateral -

  <!-- Contenido principal -->
  <main class="main-content">
    
    <div class="welcome-content">
      <img src="assets/images/logoCasita.png" alt="Logo" class="welcome-logo" />
      <h1>¡Bienvenido!</h1>
      <p>
        Este sistema es un sistema gestor de empleados y de sus tareas.<br />
        En este podrás administrar empleados actuales como agregar nuevos.<br />
        Administrar puestos de la empresa.<br />
        Administrar proyectos y las tareas que hay dentro de estos.
      </p>
    </div>

    
  </main>

  <app-footer></app-footer>


</div>


