.form-wrapper {
    padding: 0;
    background-color: #e0e2ec;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
    min-width: 400px;
    justify-content: center;
    
    
  }

.form-header {
    background-color: #90c33f;
    text-align: center;
    padding: .5rem 1rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-top: .1 rem;
    padding-bottom: .1 rem;
  
    h2 {
      margin: 0;
      font-size: 1rem;
      font-size: 1.5rem;
      color: white;
    }
  }
  .full-width {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

  }