<div class="form-wrapper">
<div class="form-header">
  <h2 mat-dialog-title>{{ isEdit ? 'Editar Puesto' : 'Nuevo Puesto' }}</h2>
</div>
<form [formGroup]="puestoForm" (ngSubmit)="guardar()" mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nombre del Puesto</mat-label>
    <input matInput formControlName="nombrePuesto" required>
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancelar()">Cancelar</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="puestoForm.invalid">
      {{ isEdit ? 'Actualizar' : 'Guardar' }}
    </button>
  </div>
</form> 
</div>