<div class="welcome-container">
  <app-sidebar></app-sidebar>
  <app-topbar></app-topbar>

  <div class="empleados-content">
    <div class="tabla-empleados">
      <h1 class="titulo">PUESTOS</h1>
      <app-search-bar 
        placeholder="Buscar por ID o nombre del puesto..."
        addButtonText="Nuevo Puesto"
        (searchChange)="onSearchChange($event)"
        (addClick)="onAddClick()"
        (clearSearch)="onClearSearch()">
      </app-search-bar>

      <div class="tabla-contenedor-reducido">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 tabla-mat">

        <ng-container matColumnDef="idPuesto">
          <th mat-header-cell *matHeaderCellDef class="align-left">Id</th>
          <td mat-cell *matCellDef="let puesto" class="align-left">{{ puesto.idPuesto }}</td>
        </ng-container>

        <ng-container matColumnDef="nombrePuesto">
          <th mat-header-cell *matHeaderCellDef class="align-center">Puesto</th>
          <td mat-cell *matCellDef="let puesto" class="align-center">{{ puesto.nombrePuesto }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="align-right">Acciones</th>
          <td mat-cell *matCellDef="let puesto" class="align-right">
            <button class="icono editar" (click)="editarPuesto(puesto)" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="icono eliminar" (click)="eliminarPuesto(puesto)" matTooltip="Eliminar">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

</div>

  <app-footer></app-footer>
</div>

