<aside class="sidebar">
  <ul class="sidebar__list">
    <a [routerLink]="['/dashboard']">
      <li class="sidebar__element">
        <img src="/assets/images/logoCasita.png" class="sidebar__icon sidebar__icon--logo" />
        <div class="sidebar__hide">
          <p class="sidebar__logo">Nezter</p>
        </div>
      </li>
    </a>

    <a [routerLink]="['/empleados']">
      <li class="sidebar__element">
        <img src="/assets/icons/empleados-icon.png" class="sidebar__icon" />
        <div class="sidebar__hide">
          <p class="sidebar__text">Empleados</p>
        </div>
      </li>
    </a>

    <a [routerLink]="['/puestos']">
      <li class="sidebar__element">
        <img src="/assets/icons/trabajo-en-equipo.png" class="sidebar__icon" />
        <div class="sidebar__hide">
          <p class="sidebar__text">Puestos</p>
        </div>
      </li>
    </a>

    <a [routerLink]="['/tareas']">
      <li class="sidebar__element">
        <img src="/assets/icons/portapapeles.png" class="sidebar__icon" />
        <div class="sidebar__hide">
          <p class="sidebar__text">Tareas</p>
        </div>
      </li>
    </a>
  </ul>
</aside>


